@media only screen and (min-width: 992px) {
	.navbar-expand-lg {
	    padding: 30px;
	}
	.nav-link {
		color: #fff;
	}
	.navbar-brand{
		font-size: 1.5em;
	}
}

#copyright-text{
	padding: 5px;
	background-color: #007bff;
}