@media only screen and (min-width: 992px) {
	.navbar-expand-lg {
	    padding: 30px;
	}
	.navbar-brand{
		font-size: 1.5em;
	}
	.nav-link-active{
		font-weight: bold;
		color: #fff;
		border-bottom: 2px solid #fff;
	}
	.nav-link:hover{
		color: #fff;
	}
	.nav-link{
		color: #fff;
	}
}

#copyright-text{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 5px;
	background-color: #007bff;
	width: 100%;
	color: #fff;
}

#copyright-text p {
    margin-top: 1rem;
}

.container {
	margin-bottom: 100px;
}