@media only screen and (min-width: 992px) {
	.navbar-expand-lg {
	    padding: 30px;
	}
	.nav-link {
		color: #fff;
	}
	.navbar-brand{
		font-size: 1.5em;
	}
}

footer{
	margin-bottom: 56px;
}

#copyright-text{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 5px;
	background-color: #007bff;
}

#copyright-text p {
    margin-top: 1rem;
}